numpy >= 1.19.4
scipy >= 1.5.4
bycycle @ git+https://github.com/bycycle-tools/bycycle.git@main
fooof >= 1.0.0
mne >= 0.22.0
mne-bids >= 0.7
plotly >= 4.10.0
scikit-learn == 0.24.1
scikit-image == 0.18.1
emd == 0.4.0
pybv >= 0.6
