numpy >= 1.19.4
scipy >= 1.5.4
neurodsp >= 2.2.1
bycycle @ git+https://github.com/bycycle-tools/bycycle.git@main
fooof >= 1.0.0
mne >= 0.22.0
mne-bids >= 0.7
pybv >= 0.7.5
networkx >= 3.0
pathos >= 0.3.0
